.nav{
    max-width: var(--container-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 44px 0;
    margin: 0 auto;
}
#nav{
    position: sticky;
    top: 0;
    margin: 0 16px;
}
.nav__menu{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    gap: 20px;
}
.nav__services{
    display: flex;
    gap: 22px;
    align-items: center;
}
.nav__services-language{
    font-size: 24px;
    display: flex;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    align-items: center;
}
.nav-bg{
    z-index: 99;
    /*background-color: rgba(1, 1, 1, 0.73);*/
    background-color: #687D6B;
}
.nav-mobile{
    display: none;
}
.nav-mobile-menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    padding: 2rem;
    background-color: rgba(1, 1, 1, 0.73);
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 3rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
    color: #F0F0F0;
}
@media (max-width: 900px) {
    .nav-mobile{
        display: block;
    }
    .nav__services{
        display: none;
    }
    .nav__menu{
        display: none;
    }
}