.nav{
    /*z-index: 99;*/
    /*transform: translateY(100%);*/
    max-width: var(--container-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 44px 0;
    /*margin: 0 auto;*/
}
.nav__menu{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    gap: 20px;
}
.nav__services{
    display: flex;
    gap: 22px;
    align-items: center;
}
.nav__services-language{
    font-size: 24px;
    display: flex;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    align-items: center;
}