.special{
    color: #303030;
    margin: 0 16px;
    background-color: #FFFFFF;
}
.special__container{
    padding: 104px 44px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 56px;
    column-gap: 24px;
}
.special__title{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.special__title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0025em;
}
.special__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.special__items > article{
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: space-between;
    padding: 32px 16px;
}
.price{
    transition: 1.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.price:hover{
    transform: scale(1.2);
}
@media (max-width: 1250px) {
    .special__container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 650px) {
    .about-us-cards__container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
