/*header{*/
/*    margin: 0 16px;*/
/*    background-color: rgba(1, 1, 1, 0.3);*/
/*}*/
/*.header{*/
/*    position: absolute;*/
/*    top: 27px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    text-shadow: 0 4px 4px rgba(0,0,0,.25);*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0 auto;*/
/*    max-width: var(--container-bg);*/
/*    min-width: 90%;*/
/*}*/
/*.header__main{*/
/*    z-index: 2;*/
/*    margin: 85.52px 44px 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 32px;*/
/*    color: #FFFFFF;*/
/*}*/
/*.header__main h3{*/
/*    text-align: center;*/
/*}*/

header{
    margin: 0 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(1, 1, 1, 0.3);
}
.header{
    background-color: rgba(1, 1, 1, 0.3);
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
.header__nav{
    min-width: 100%;
    margin: 0 auto;
}
.header__main{
    max-width: var(--container-bg);
    padding: 130px 44px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: #FFFFFF;
}
.header__main h3, h6{
    text-align: center;
}
